.Rhistory
.RData
.Ruserdata
.Rprofile
.Rproj.user/
*.Rcheck/
*.tar.gz
*_function_output/
*_simple_output/
data/
data-raw/
R/data.R
man/skin_example.Rd
renv/
renv.lock

# Local literature review, documents, and article drafts
/_paper/
/Analysis_R/data-raw/
/Analysis_R/results/
